.color-body {    
    background-color: rgb(55, 71, 101);
}
.container {    
    display: flex;
    justify-content: center;
}
.carcas {
    width: 517px;
    height: 643px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    border: 2px solid #484848;
    border-collapse: separate;
    border-spacing: 6px 6px;
    background-color: #434343;
}
.carcas tr, .carcas td {
    border: 2px solid black;   
}
.col-0 {
    width: 100px;
}
.col-1 {
    width: 60px;
}
.col-2 {
    width: 110px;
}
.col-3 {
    width: 80px;
}
.col-4 {
    width: 80px;
}
.black {
    background-color: black;
}
.color-width {
    background-color: #eeeeee;
}
.color-blu {    
    background-color: skyblue;
}
.color-yellow {    
    background-color: yellow;
}
.color-red {
    background: red;
}
.color-black {
    background-color: black;
}