.body-background {
    background-image: url(../img/rana-sawalha-364253-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    padding-top: 17px;
    padding-bottom: 18px;
    background-color: rgb(0, 0, 0, 0.3);
    transition: 1s;
}

.header {
    opacity: 1;
}

.container {
    width: 1094px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header-company-name {
    float: left;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.header-company-name:hover {
    color: #3cb878;
}

.icon-top {
    display: inline-block;
    float: left;
    margin-left: 600px;
}

.icon-ic_caledar {
    display: inline-block;
    margin-right: 28px;
    background-image: url(../img/sprite.png);
    background-position: -48px -20px;
    width: 19px;
    height: 19px;
}
.icon-ic_caledar:hover {
    background-position: 0px -20px;
}

.icon-ic_forum {
    display: inline-block;
    margin-right: 28px;
    background-image: url(../img/sprite.png);
    background-position: -48px 0px;
    width: 28px;
    height: 20px;
}
.icon-ic_forum:hover {
    background-position: 0px 0px;
}
.icon-ic_journey {
    display: inline-block;
    margin-right: 25px;
    background-image: url(../img/sprite.png);
    background-position: -76px 0px;
    width: 20px;
    height: 20px;
}
.icon-ic_journey:hover {
    background-position: -28px 0px;
}
.wigth-line::after {
    margin-right: 25px;
    float: right;
    content: "";
    background-color: #848484;
    display: block;
    width: 1px;
    height: 19px;
}

.header-company-description {
    float: left;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    text-decoration: none;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
    color: #3cb878;
}

.green {
    color: #3cb878;
    text-decoration: underline;
}
.square{
    width: 20px;
    height: 20px;
    background-color: #3cb878;
    position: absolute;
    top: 30px;
    left: -5px;
}
.contact-form {
    margin: 65px auto;
    padding: 30px 60px;
    border-radius: 6px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.32);
    max-width: 444px; // height: 584px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}
.section-top {
    margin-bottom: 10px;
}
.form-row {
    margin-bottom: 4px;
}
.main-title {
    display: block;
    float: left;
    font-family: 'Verdana', sans-serif;
    color: #434343;
    font-size: 20px;
    line-height: 21px;
}

.main-title-login {
    display: block;
    float: right;
    font-family: 'Verdava', sans-serif;
    color: #3cb878;
    font-size: 14px;
    line-height: 21px;
}

.main-title-login:hover {
    text-decoration: underline;
    color: #3cb878;
}
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 157px;  //- apply for fixed size 
  margin: 8px;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
.centr {
    margin: 18px auto;
}
.or {    
    margin-bottom: 18px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    color: #848484;
    font-size: 14px;
}

.or-long-line::after {
    margin-left: 19px;
    display: inline-block; 
    content: "";
    background-color: #848484;
    display: inline-block;
    width: 135px;
    height: 1px;
}

.or-long-line::before {
    margin-right: 19px;
    display: inline-block; 
    content: "";
    background-color: #848484;
    display: inline-block;
    width: 135px;
    height: 1px;
}

.send-field {
    padding: 18px 19px;    
    font-family: 'Verdana', sans-serif;
    color: #bebebe;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
}

.send-field:focus {
    color: #434343;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    border-radius: 3px;
    background-color: #ffffff;
}

.send-input {
    width: 322px;
}

.subscribe-button {
    background-color: #3cb878;
    font-size: 16px;
}
