body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

/*--------------------------------------navbar---------------------------------*/

.navbar {
    position: absolute;
    top: 0;
    padding-top: 28px;
    padding-bottom: 25px;
    width: 100%;
    background-color: rgba(73, 71, 63, 0.6);
}

/*.icon-top-logo {
    width: 58px;
height: 67px;
    background-image: url(..//img/header/Polygon%201.png) no-repeat;
}*/

.navbar-logo {
    display: inline-flex;
    align-items: center;
    margin-right: 262px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
    text-decoration: none;
}

.navbar-menu {
    display: inline-flex;
    align-items: baseline;
}

.navbar-menu::after {
    content: "\f002";
    font-family: 'FontAwesome';
    color: #b8b8b8;
    font-size: 18px;

}

.navbar-meun-item {
    display: inline-block;
    margin-right: 20px;
}

.navbar-menu-link {
    position: relative;
    /* padding-top: 55px;
    padding-bottom: 55px;*/
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

}

.navbar-menu-link:hover {
    color: #18cfab;
}

.navbar-menu-link.active {
    color: #18cfab;
}

.navbar-menu-link.active::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    left: 0;
    bottom: -68px;
}

.navbar-menu-link:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    left: 0;
    bottom: -68px;
}

/*-------------------------------header----------------------------------------*/

.header {
    position: relative;
    padding-top: 246px;
    padding-bottom: 244px;
    text-align: center;
}

.bcg-1,
.bcg-2,
.bcg-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcg-1 {
    background-image: url(../img/header/bcg-1.jpg);
}

.bcg-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/sec_install/bcg-2.jpg);
}

.bcg-3 {
    background-image: url(../img/sec_peopleSay/bcg-3.jpg);
}

.header-company-name {
    margin-bottom: 45px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.green-text {
    color: #18cfab;
}

.company-sligan1 {
    margin-bottom: 37px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
}

.company-slogan2 {
    margin-bottom: 142px;
    font-family: 'Montserrat', sans-serif;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
}

.btn-choise {
    display: inline-block;
    padding: 26px 26px;
    width: 166px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 -4px 0 #ffffff;
}

.color-1 {
    margin-right: 28px;
    background-color: #18cfab;
}

.color-2 {
    background-color: #00cbf6;
}

/*-------------------------------------section item----------------------------*/

.adventades {
    width: 100%;
    height: 374px;
}

.adventade-description {
    padding-top: 95px;
    padding-bottom: 120px;
    width: 480px;
    background-color: #1c2a33;
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.even {
    color: #ffffff;
    background-color: #18cfab;
}

.icons {
    padding-bottom: 49px;
    display: inline-block;
}

.shadow {
    height: 7px;
}

/*-------------------------------section servise-description-------------------*/

.dark-zone {
    padding-top: 128px;
    padding-bottom: 143px;
    text-align: center;
}

.white-zone {
    padding-top: 111px;
    padding-bottom: 103px;
}

.servise-title {
    margin-bottom: 105px;
    /*margin-bottom: 37px;*/
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    text-align: center;
}

.double-underline {
    background-image: linear-gradient(#18cfab, #18cfab), linear-gradient(#18cfab, #18cfab);
    background-size: 76px 1px, 76px 1px;
    background-position: 50px 37px, center bottom 3px;
    background-repeat: no-repeat;
}

.servise-menu {
    margin-bottom: 24px;
}

.servise-menu-item {
    margin: -3px;
    display: inline-block;
    border: 2px solid #eceded;
    background: #f8fcfe;
}

.servise-menu-link {
    position: relative;
    display: inline-block;
    padding-top: 27px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

}

.servise-menu-link:hover {
    background-color: #18cfab;
    color: #fff;
}

.servise-menu-link.active {
    background-color: #18cfab;
    color: #fff;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.section-img {
    margin-right: 20px;
    float: left;
    width: 194px;
}

.img-descript {
    max-width: 100%;
}

.section-description {
    float: right;
    width: 927px;
}

.section-description-text {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
}

/*-------------------------section install-slogan------------------------------*/

.slogan-title {
    margin-bottom: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.slogan-description {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #d8d8d8;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

/*-----------------------------------section portfolio-------------------------*/

.zone {
    background: #f8fcfe;
}

.portfolio-menu {
    margin-bottom: 71px;
    text-align: center;
}

.portfolio-menu-item {
    display: inline-block;
    margin: -3px;
    background: #fff;
    border: 2px solid #eff0f1;
}

.portfolio-menu-link {
    position: relative;
    display: inline-block;
    padding: 24px 10px 20px 10px;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.portfolio-menu-link:hover {
    color: #18cfab;
}

.portfolio-menu-link.active {
    color: #18cfab;
}

.portfolio-menu-link.active::before {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    left: 0;
    top: -3px;
}

.portfolio-menu-link:hover::before {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    left: 0;
    top: -3px;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-item.hidden {
    display: none;
}

.portfolio-item {
    /*padding: 5px;
    border: 1px solid black;*/
    position: relative;
    margin: 0;
    padding: 0;
}

.portfolio-btn {
    display: block;
    padding: 26px 26px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    background-color: #18cfab;
    margin-top: 72px;

}

.fa-plus {
    margin-right: 16px;
}

.cover-item-portfolio {
    padding-top: 46px;
    padding-bottom: 52px;
    background-color: rgb(255, 255, 255, 1);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    border-top: 3px solid #18cfab;
}

.cover-link {
    position: absolute;
    padding: 12px 13px;
    top: 46px;
    left: 94px;
    display: inline-block;
    color: #18cfab;
    border-radius: 50%;
    border: #18cfab 1px solid;
    width: 41px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
}

.green-circle {
    top: 46px;
    left: 138px;
    background-color: #18cfab;
    color: #fff;
}

.cover-top-title {
    margin-top: 74px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.cover-description {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
}

/*-----------------------------------section NEWS-------------------------*/

.green-line::after {
    width: 76px;
    height: 1px;
    content: "";
    background-color: #18cfab;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    /*margin-bottom: 3px;*/
}

.margin:not(:nth-child(4n)) {
    margin-right: 30px;
}

.about-imag {
    margin-bottom: 45px;
    padding-top: 14px;
    padding-bottom: 12px;
    width: 260px;
    background-color: #f8fcfe;
    border: 2px solid #ededed;
}

.blog-description {
    padding-bottom: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.comment {
    font-family: 'Montserrat', sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.data-new {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 15px 20px;
    background-color: #203e38;
    width: 68px;
    height: 67px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

/*.green-line_low::after {
    width: 76px;
    height: 1px;
    content: "";
    background-color: #18cfab;
    display: block;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 70px;
}*/

/*-----------------------------------section REWIEVCE-------------------------*/

.white {
    color: #fff;
}

.reviewe-qoute {
    margin-top: 43px;
    margin-bottom: 43px;
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}
.reviewe-qoute::before {}

.fa-quote-left {
    color: #18cfab;
    width: 44px;
    height: 30px;
}

.name {
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

}

.who {
    margin-bottom: 27px;
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

/*-----------------------------------section GALLERY-------------------------*/
#gallery {
    margin: 0 auto;
}
.sizer1 {
    width: 370px;
}

.sizer2 {
    width: 180px;
}

.sizer4 {
    width: 115px;
}

.item-massonry {
    position: relative;
    border: 5px solid #fff;
}

.item-massonry img {
    width: 100%;
    height: auto;
    display: block;
}

.cover-item-gallery {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    display: none;
}

.cover-item-gallery a span.fa {
    padding: 15px 15px;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 52%;
    background: #14b9d5;
    border-radius: 3px;
}

.cover-item-gallery a span.fa-arrows-alt {
    left: 35%;
}

/*-----------------------------------FOOTER-------------------------*/

.footer {
    /*height: 108px;*/
    padding-top: 47px;
    padding-bottom: 47px;
    background-color: #22353f;
}

.footer-description {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
}
