.body-background {}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: 33px;
    padding-bottom: 33px;
    background-color: #262626;
    opacity: .6;
    width: 100%;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item {}

.menu-link {
    box-sizing: border-box;
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7vw;
}

.header {
    position: relative;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 145px;
    background-position: center;
    background-attachment: fixed;
}

.header-company-name {
    font-family: 'MyOwnFont', sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.company-description {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 28px;
}

.company-slogan {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    display: inline-block;
    /* opacity: 0.5;*/
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.5);

}

.fone {
    padding: 29px 49px 34px 42px;
    display: inline-block;
    background-color: #fff;
}

.fone-2 {
    padding: 26px 48px 56px 41px;
}

.company-slogan:hover {
    opacity: 1;
}

.orange-text {
    color: #f1ad1d;

}

.about-company {
    padding-top: 112px;
    padding-bottom: 112px;
}

.text-center {
    text-align: center;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.section-description {
    font-family: 'Lato', sans-serif;
    color: #4d4943;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
}

.orange-line::after {
    content: "";
    background-color: #f1ad1d;
    display: block;
    width: 60px;
    height: 3px;
    margin: 0 auto;
    margin-top: 52px;
}

.slogan {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
    background-position: center;
    background-attachment: fixed;
}

.img-1 {
    background-image: url(../img/bg2.jpg);
}

.img-2 {
    background-image: url(../img/bg3.jpg);
}

.img-3 {
    background-image: url(../img/bg4.jpg);
}

.slogan-title {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.menu-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu-top-item {
    margin-right: 65px;
}

.text-white {
    color: white;
}

.wigth-line::after {
    display: block;
    margin: 0 auto;
    margin-top: 44px;
    content: "";
    background-color: #fff;
    width: 281px;
    height: 3px;
}

.slide {
    border-top: solid 4px #422410;
}

.btn-slide {
    text-align: center;
    width: 144px;
    height: 31px;
    padding: 10px 10px 0 0;
    margin: 0 auto;
    display: block;
    font: bold 120%/100% 'Arial', 'Helvetica', sans-serif;
    text-decoration: none;
    color: #f1ad1d;
}

.active {
    background-position: right 12px;
}

#panel {
    display: none;
}

#toTop {
    width: 100px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    /* отступ кнопки от нижнего края страницы*/
    right: 10px;
    cursor: pointer;
    display: none;
    color: #333;
    font-family: 'verdana';
    font-size: 11px;
}
