.fon {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}
.star-wars {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-family: sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
}
.crawl {
    position: relative;
    top: -200px;
    transform-origin: 50% 100%; 
    animation: crawl 30s linear;
    animation-direction: normal;
    animation-iteration-count: infinite; /*количество повторений*/ 
    /*animation-fill-mode: backwards;*/
    /*animation-delay: 1s;*//*задержка начала анимации*/    
   /*animation-fill-mode: forwards;*/
}
.crawl:hover {
    animation-play-state: paused;/*приостановление анимации*/
}
@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(30deg) translateZ(0px);
    }
    100%{
        top: -5000px;
        transform: rotateX(30deg) translateZ(-2500px);
    }
}