.body {}

.header {
    position: absolute;
    width: 100%;
    top: 32px;
    padding-top: 38px;
    padding-bottom: 38px;
    background: #ffffff;
    height: 40px;
    /* left: 0;
    bottom: 0;
    right: 0; или указать width: 100%;*/
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header-logo {
    display: inline-block;
    float: left;
    font-family: 'Roboto', sans-serif;
    color: #424f57;
    font-size: 36px;
    font-weight: 300;
    text-decoration: none;
}

.text {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

.text-color {
    color: #14afca;
}

.menu-top {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
}

.menu-top-item {
    margin-right: 50px;
}

.menu-top-item:nth-child(5n) {
    margin-right: 0;
}

.menu-top-link {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: #3e4b4e;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-top-link:hover {
    color: #14afca;
}

.slogan {
    position: relative;
    padding-top: 315px;
    padding-bottom: 168px;
    text-align: center;
}

.text-slogan {
    font-family: 'FuturaBT', sans-serif;
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
}

.description {
    padding-top: 108px;
    padding-bottom: 101px;
    text-align: center;
}

.ligth {
    background-color: #fff;
}

.bcg-1,
.bcg-2,
.bcg-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcg-1 {
    height: 100hv;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img9/bg1.jpg);
    clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 89%, 50% 100%, 0 89%, 0 0);
}

.bcg-2 {
    min-height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img9/bg2.jpg);
    clip-path: polygon(50% 11%, 100% 0, 100% 89%, 100% 89%, 51% 100%, 0 89%, 0 0);
}

.bcg-3 {
    min-height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img9/bg3.jpg);
    /*filter: brightness(0.7);
    filter: saturate(40%);насыщенность*/
    clip-path: polygon(50% 11%, 100% 0, 100% 89%, 100% 89%, 51% 100%, 0 89%, 0 0);
}

.flex-photo {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}

.photo {
    text-align: center;
}

.photo-description {
    margin-top: 27px;
    font-family: 'Roboto', sans-serif;
    color: #424f57;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
}

.logo-description {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #14afca;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.text-description {
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #424f57;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
}

.color {
    color: #ffffff;
}

.companies {
    padding-top: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.company {
    margin-right: 56px;
    margin-bottom: 112px;
}

.company:nth-child(4n) {
    margin-right: 0;
}
.text-description-1 {
    padding-top: 42px;
    font-family: 'Roboto', sans-serif;
    color: #424f57;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}

.quote-description {
    margin-top: 43px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #d3cccc;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    text-align: center;
}

.author {
    margin-bottom: 63px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    text-align: right;
}

.text-bolt {
    padding-top: 55px;
    padding-bottom: 113px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #424f57;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    color: #3d3c3c;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
}

.text-footer {
    font-size: 16px;
    font-weight: 700;
}
