body {
    margin: 24px 30px 32px 22px;
    background-color: rgb(55, 71, 101);
}

.pricing-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arimo', sans-serif;
    background-color: #fafafa;
}

.pricing-plan-top {
    box-sizing: border-box;
    padding-top: 54px;
    padding-bottom: 56px;
    width: 300px;
    background-color: #fafafa;
}

.slogan {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.pricing {
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    padding-top: 27px;
    padding-bottom: 25px;
    width: 277px;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
}

.bgc-stand {
    background-color: #89c331;
}

.bgc-ult {
    padding-top: 28px;
    padding-bottom: 21px;
    background-color: #f04a56;
    font-size: 30px;
}

.bgc-prem {
    background-color: #20807c;
}

.plan-value {
    padding: 18px 0;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 60px;
    font-weight: 700;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    text-align: center;
    background-color: #fafafa;
}

.float {
    color: #484848;
    font-size: 24px;
    vertical-align: 25px;
}

.plan-value::after {
    content: 'per month';
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 28px;
    margin-left: -30px;
    font-weight: 200;
}

.pric-plan-description {
    padding-top: 25px;
    padding-bottom: 24px;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 16px;
    text-align: center;
    background-color: #f2f2f2;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.odd {
    background-color: #e3e3e3;
}

.btn-pricing-plan {
    display: inline-block;    
    padding-top: 19px;
    padding-bottom: 10px;
    width: 192px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;    
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    box-sizing: border-box;
}
.btn-pricing-plan:hover {
    background-color: #eeeeee;
    color: #484848;
    border: 2px solid #e3e3e3;
    box-shadow: insert 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.buy-contact {
    background-color: #484848;
    box-shadow: 0 7px 0 #404040;
}
.buy-standart {
    background-color: #89c331;
    box-shadow: 0 7px 0 #79b027;    
}
.buy-ultimate {
    background-color: #f04a56;
   box-shadow: 0 7px 0 #df3a46;
}
.buy-premium {
    background-color: #20807c;
    box-shadow: 0 7px 0 #16736f;
}
