body {
    margin: 24px 30px 32px 22px;
    background-color: rgb(55, 71, 101);
}

.pricing-table {
    width: 100%;
    height: 660px;
    border-collapse: collapse;
}

.pricing-plan-top {
    padding-top: 39px;
    padding-bottom: 37px;
    max-width: 198px;
    box-sizing: border-box;
    background-color: #fafafa;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
   // box-sizing: border-box;
}

.slogan {
    margin-bottom: 9px;
    font-family: 'Arimo', sans-serif;
    color: #848484;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.pricing {
    font-family: 'Arimo', sans-serif;
    color: #848484;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.pric-plan-description {
    max-width: 157px;
    padding-top: 32px;
    padding-bottom: 32px;
    vertical-align: bottom;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color: #848484;
    font-size: 24px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
    box-sizing: border-box;
}

.even {
    background: #e3e3e3;
}

.even-body {
    background-color: #e3e3e3;
}

.fa {
    margin-bottom: 10px;
}

.pricing-plan {
    padding: 18px 18px;
    width: 198px;    
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);    
}

.bgc-stand {
    background-color: #89c331;
}

.price-name {
    margin-bottom: 22px;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.plan-value {
    margin-bottom: 24px;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
}

.plan-value::after {
    content: 'per month';
    vertical-align: middle;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.float {
    color: #ffffff;
    font-size: 18px;
    vertical-align: 13px;
}

.bgc-ult {
    background-color: #f04a56;
}

.bgc-prem {
    background-color: #20807c;
}

.btn-pricing-plan {
    display: inline-block;
    padding-top: 15px;
    padding-right: 33px;
    padding-left: 33px;
    padding-bottom: 7px;
    width: 144px;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    //line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #414141;
    box-shadow: 0 5px 0 #343434;
   // box-sizing: border-box;
}

/*.btn-pricing-plan:hover {
    background-color: yellow;
    color: #484848;
    border: 2px solid orange;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.67);
}*/

.plan-description {
    padding: 65px 40px;
    vertical-align: middle;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background-color: #eeeeee;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.even-body {
    background: #e3e3e3;
}
