body {
    font-family: 'Verbana', sans-serif;
    color: #ffffff;
    background-image: url(../img7/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 1064px;
    margin: 0 auto;
    text-align: center;
    padding-top: 57px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    display: flex;
}
.icon-top-logo {
    margin-right: 15px;    
    background-image: url(../img7/sprite.png);
    background-position: -46px 0px;
    width: 46px;
    height: 44px;
}

.header-logo:hover .icon-top-logo {
    background-position: 0px 0px;
}

.logo-text {
    display: flex;
    flex-direction: column;    
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-text:hover {
    color: #f26522;
}

.text2 {
    margin-top: 5px;
    font-size: 18px;
}

.text2:hover {
    color: #f26522;
}

.header-contacts {
    padding-top: 8px;
    line-height: 21px;
}

.contacts-link {
    display: inline-block;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.number {
    display: inline-block;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
}

.contacts-link:hover,
.number:hover {
    color: #f26522;
}

.flex-tours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tour-type {
    width: 311px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    margin-right: 65px;
    float: left;
    margin-top: 55px;
    position: relative;
}

.tour-type:nth-child(3n) {
    margin-right: 0px;
}

.tour-type:hover .hidden-info {
    opacity: 1;
}

.img-tour {
    max-width: 100%;
    height: 200px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #fff 0%, #000 100%);
    border-image-slice: 1;
}

.tour-price {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin-top: 20px;
}

.tour-price:hover {
    color: #f26522;
}

.hidden-info {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 21px;
    padding-bottom: 17px;
    padding-right: 17px;
    transition: 0.4s;
    width: 311px;
    box-sizing: border-box;
    background: #f26522;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;   
    position: absolute;
    bottom: 45px;
    opacity: 0;
}

.price-description {    
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 10px;
    text-align: left;
    line-height: 20px;
}

.price {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.view-detail {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    float: right;
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    box-sizing: border-box;
    margin-top: 23px;
}

.view-detail:after {
    content: '>';
    padding-left: 17px;
}

.footer {
    margin-bottom: 20px;
}

.tour-details {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
}
